* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MS W98 UI', sans-serif;
}

body {
    background: #018281;
    overflow: hidden;
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: #c3c3c3;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    text-align: match-parent;
    list-style: none;
}

.nav__links {
    list-style: none;
    text-align: center;
}

.nav__links a {
    color: #000;
    text-decoration: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    color: #000;
    text-decoration: none;
}

@font-face {
    font-family: 'MS W98 UI';
    src: url(fonts/MSW98UI-Regular.ttf);
}

@font-face {
    font-family: 'MS W98 UI Bold';
    src: url(fonts/MSW98UI-Bold.ttf);
}