* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #018281;
    overflow: hidden;
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.navbar__menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

.navbar__container {
    position: absolute;
    z-index: 999;
    background: #c3c3c3;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}